# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# Production
/build

# Local files
.DS_Store
*.pem
*.log
.env*
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
